* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
input,
textarea {
  outline: 0.1rem solid #40a578;
  padding: 0.5rem;
}
input:focus,
textarea:focus {
  outline: 0.1rem solid #40a578;
}
button:hover {
  cursor: pointer;
}
body > h1 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#add-project {
  padding: 0.4rem;
  background-color: #40a578;
  width: 10rem;
}
#add-project-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

#add-project-form-wrapper {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}
#add-project-form {
  position: relative;
  background-color: #68d2e8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
  min-width: 15rem;
}
#add-project-form button {
  padding: 0.4rem;
  background-color: #40a578;
}

.project-card {
  padding: 0.2rem;
  background-color: rgba(0, 141, 218, 0.3);
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid rgb(0, 141, 218);
  width: 50rem;
}
.project-card > h2 {
  margin-left: 0;
  margin-right: auto;
}
.project-card .view {
  padding: 0.2rem 1rem;
  background-color: green;
}
.project-card .delete {
  padding: 0.2rem 1rem;
  background-color: red;
}

#view-project {
  width: 100%;
  background-color: #5356ff;
}
