* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  color: black;
  background-color: transparent;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
#postsComments {
  display: flex;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 6rem;
  background-color: #1da1f2;
}
#users {
  background-color: white;
  padding: 0.8rem 0 0.8rem 2rem;
  border-radius: 0.2rem;
}

#current-user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
#current-user > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
#current-user > div {
  display: flex;
}
#posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.post > p:nth-child(1) {
  font-weight: bold;
}
.post:hover {
  cursor: pointer;
}
#comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
