* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: #acaec5;
}
button:hover {
  cursor: pointer;
}

body {
  background-color: #181824;
  position: relative;
}

body > div {
  width: 100%;
  height: 40vh;
  background-image: url("images/bg-desktop-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

main {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
header > h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

main > div > div {
  display: flex;
  align-items: center;
  background-color: #25273c;
}
main > div > div.dark-theme {
  background-color: white;
}
#input-form {
  margin-bottom: 1.5rem;
  padding: 1rem;
}
#input-form > #input-completed {
  border-radius: 1rem;
}
#input-form > #input-task {
  padding-left: 1rem;
  width: 80%;
}

#show-tasks > div {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 0.2rem solid #2b2d42;
}
#show-tasks > div > button:last-child {
  margin-right: 0;
  margin-left: auto;
}

#tasks-actions {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  gap: 3rem;
}
#tasks-actions p {
  font-size: 0.8rem;
}
#tasks-actions button {
  color: #5d5e7a;
  font-size: 1rem;
}
#tasks-actions button:hover {
  color: black;
}
#tasks-actions > div {
  display: flex;
  gap: 0.5rem;
}
