<section *ngIf="!isPending" class="creating">
  <button routerLink="">
    <img src="icons/arrow_back.svg" alt="" />
  </button>
  <form #createNoteForm="ngForm" (ngSubmit)="createNote(createNoteForm.value)">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      required
      placeholder="Title..."
      #title="ngModel"
      ngModel
      [(ngModel)]="note.title"
    />
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <p *ngIf="title.hasError('required')" style="color: red">
        Title is required
      </p>
    </div>
    <label for="content">Content</label>
    <textarea
      name="content"
      id="content"
      required
      placeholder="More details..."
      rows="8"
      cols="40"
      #content="ngModel"
      ngModel
      [(ngModel)]="note.content"
    ></textarea>
    <div *ngIf="content.invalid && (content.dirty || content.touched)">
      <p *ngIf="content.hasError('required')" style="color: red">
        Content is required
      </p>
    </div>
    <button type="submit" #createNoteButton>
      {{ note.id ? "Update Note" : "Add Note" }}
    </button>
  </form>
</section>
