header {
  background-color: rgba(0, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  width: 100%;
  max-width: 120rem;
}
nav > button {
  font-size: 1.5rem;
}
